In [92]:
import pandas as pd
import sqlite3 as sql
import numpy as np

In [93]:
df1 = pd.read_csv("https://storage.googleapis.com/qwasar-public/only_wood_customer_us_1.csv")
df1['Gender'].unique()  #Saralangan qiymatlarni chop etish
genders = {'0':'Male', '1':'Female', 'F':'Female', 'M':'Male'} #Unique qilingan qiymatlarga gender yuklash
df1['Gender'] = df1['Gender'].replace(genders)   #Yangilangan genderslarni eski Gender bilan replace() orqali almashtirish
df1['FirstName'] = df1['FirstName'].str.replace('\W','')  #Regular expression editor orqali  \W	Har qanday so'zsiz belgi
df1['FirstName'] = df1['FirstName'].str.title()   #Firstname ni title orqali bosh xarfini kattalashtirib tartibga keltiramiz
df1['LastName'] = df1['LastName'].str.replace('\W','')
df1['LastName'] = df1['LastName'].str.title()  ##LastNameni ham tartibga keltirib olamiz
df1['UserName'] = df1['UserName'].str.replace('\W','')
df1['UserName'] = df1['UserName'].str.title()   ##UserNameni ham quydagicha tartiblab olamiz
df1['Email'] = df1['Email'].str.lower()
df1['Age'].unique()
df1['City'].unique()  ##City qiymatlarini tekshirib olamiz va kamchiliklarini topamiz
df1['City'] = df1['City'].str.replace('_',' ')
df1['City'] = df1['City'].str.replace('-',' ')    #Kamchiliklari New_york pastki chiziqni -- chiziqqa replace orqali almashtirdik
df1['City'].unique()   ##City qiymatlarini tekshirib olamiz va kamchiliklarini topamiz
df1['City'] = df1['City'].str.title()    ##Kamchiliklardan biri shaxar nomlari istalgan holatda har xil ularni title( func orqali) faqat bosh xarflarini katta qilib tozalab olamiz
df1['Country'] = 'USA'   ## Country da esa Nan va raqamlar kop edi ularni ham USA ga ozgartirib oldik
df1.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: The default value of regex will change from True to False in a future version.
  """
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:7: FutureWarning: The default value of regex will change from True to False in a future version.
  import sys
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:9: FutureWarning: The default value of regex will change from True to False in a future version.
  if __name__ == '__main__':

,Gender,FirstName,LastName,UserName,Email,Age,City,Country
0,Female,Latesha,Barton,Latesha,forgottoask@woodinc,85,Indianapolis,USA
1,Female,Yolando,Jast,Yolando,yolando_jast@yahoo.com,53,Columbus,USA
2,Male,Stacy,Johnson,Stacy,stacy.johnson@yahoo.com,64,Indianapolis,USA
3,Male,Abdul,Mayert,Abdul,mayert.abdul@hotmail.com,79,Phoenix,USA
4,Male,Julius,Reinger,Julius,reinger_julius@hotmail.com,65,Jacksonville,USA
5,Female,Liliana,Dubuque,Liliana,liliana_dubuque@yahoo.com,24,Columbus,USA
6,Male,Ollie,Cruickshank,Ollie,cruickshank.ollie@gmail.com,89,Houston,USA
7,Male,Louis,Schiller,Louis,louis_schiller@hotmail.com,72,Seattle,USA
8,Female,Verlene,Jones,Verlene,jones.verlene@hotmail.com,64,Seattle,USA
9,Male,Santiago,Carter,Santiago,santiago_carter@yahoo.com,34,Chicago,USA

2 --DATAFRAME

In [94]:
df2 = pd.read_csv("https://storage.googleapis.com/qwasar-public/only_wood_customer_us_2.csv",sep = ';',header=None, names=['age','city','gender','name','email'])
# df2['age'][60:100]   ##Age ni toza va tozamasligini tekshirib olamiz
df2['age'] = df2['age'].str.replace('\D','')  #(Year) (yo) ga oxshash xatolarni regular expressns orqali togirlab olamiz
df2['age'].unique()
df2['city'] = df2['city'].str.replace('_',' ')
df2['city'] = df2['city'].str.replace('-',' ')
df2['city'] = df2['city'].str.title()
df2['city'].unique()
df2['gender'].unique()  #Saralangan qiymatlarni chop etish
genderss = {'0':'Male', '1':'Female', 'F':'Female', 'M':'Male'} #Unique qilingan qiymatlarga gender yuklash
df2['gender'] = df2['gender'].replace(genderss)   #Yangilangan genderslarni eski Gender bilan replace() orqali almashtirish
df2['gender'].unique()
df2['name'] = df2['name'].str.replace('\W',' ')
df2['name'] = df2['name'].str.title()
name_df = df2['name'].str.split(expand = True)
name_df[2] == None
name_df2 = df2['name'].str.split(expand=True)
df2['first_name'],df2['last_name'] = name_df2[0],name_df2[1]
df2.drop('name', axis = 1, inplace = True)
df2['email'] = df2['email'].str.lower()
df2.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:13: FutureWarning: The default value of regex will change from True to False in a future version.
  del sys.path[0]

  age          city  gender                       email first_name last_name
0  51        Austin  Female     kutch.lorette@gmail.com    Lorette     Kutch
1  84     San Diego  Female     clorinda.wiza@gmail.com   Clorinda      Wiza
2  97      Columbus    Male     littel.joesph@gmail.com     Joesph    Littel
3  90  Jacksonville    Male      carlo_stokes@gmail.com      Carlo    Stokes
4  57     Charlotte    Male  kasey.prosacco@hotmail.com      Kasey  Prosacco
5  65  Indianapolis    Male         hahn.will@gmail.com       Will      Hahn
6  57     Charlotte  Female      junko_stokes@yahoo.com      Junko    Stokes
7  58       Seattle  Female      paucek.kacey@gmail.com      Kacey    Paucek
8  83       Phoenix    Male      zieme_renato@gmail.com     Renato     Zieme
9  51        Dallas    Male  william_becker@hotmail.com    William    Becker

3 - DATAFRAME

In [95]:
df3 = pd.read_csv("https://storage.googleapis.com/qwasar-public/only_wood_customer_us_3.csv",sep = '\t',skiprows=1, names=['gender','name','email','age','city','country'])
df3['gender'].unique()
df3['gender'] = df3['gender'].str.replace('string_','')
df3['gender'] = df3['gender'].str.replace('boolean_','')
df3['gender'] = df3['gender'].str.replace('character_','')
genderss = {'0':'Male', '1':'Female','M':'Male'} #Unique qilingan qiymatlarga gender yuklash
df3['gender'] = df3['gender'].replace(genderss) 
df3['gender'].unique()
df3['name'].unique()
df3['name'] = df3['name'].str.replace('string_','')
df3['name'] = df3['name'].str.replace('\W',' ')
df3['name'] = df3['name'].str.title()
name_d = df3['name'].str.split(expand = True)
name_d[2] == None
name_d = df3['name'].str.split(expand=True)
df3['first_name'],df3['last_name'] = name_d[0],name_d[1]
df3.drop('name', axis = 1, inplace = True)
df3['email'] = df3['email'].str.replace('string_','')
df3['email'] = df3['email'].str.lower()
df3.head(5)
df3['age'] = df3['age'].str.replace('\D','')
df3['age']
df3['city'] = df3['city'].str.replace('_',' ')
df3['city'] = df3['city'].str.replace('-',' ')
df3['city'] = df3['city'].str.title()
df3['country'] = 'USA'
df3['city'] = df3['city'].str.replace('String ','')
df3.head(10)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:11: FutureWarning: The default value of regex will change from True to False in a future version.
  # This is added back by InteractiveShellApp.init_path()
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:21: FutureWarning: The default value of regex will change from True to False in a future version.

,gender,email,age,city,country,first_name,last_name
0,Male,dach.kendall@hotmail.com,26,Dallas,USA,Kendall,Dach
1,Male,jonathon.schneider@gmail.com,91,Indianapolis,USA,Jonathon,Schneider
2,Male,konopelski_jarod@hotmail.com,38,Chicago,USA,Jarod,Konopelski
3,Male,upton_glen@gmail.com,30,Austin,USA,Glen,Upton
4,Male,ratke.tracey@hotmail.com,51,Austin,USA,Tracey,Ratke
5,Female,robbin_bergnaum@yahoo.com,60,Fort Worth,USA,Robbin,Bergnaum
6,Female,larkin.maye@hotmail.com,34,San Jose,USA,Maye,Larkin
7,Female,earl.rohan@hotmail.com,19,Philadelphia,USA,Earl,Rohan
8,Male,donnelly_jeromy@yahoo.com,33,Phoenix,USA,Jeromy,Donnelly
9,Male,lannie.cole@yahoo.com,70,Philadelphia,USA,Lannie,Cole

In [ ]:
df = pd.concat([df1,df2,df3])
df

In [45]:
df.columns
new_column_names = ['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City',
       'Country', 'age', 'city', 'gender', 'email', 'first_name', 'last_name',
       'country']

Index(['Gender', 'FirstName', 'LastName', 'UserName', 'Email', 'Age', 'City',
       'Country', 'age', 'city', 'gender', 'email', 'first_name', 'last_name',
       'country'],
      dtype='object')